@charset "UTF-8";

body{
    background-color:rgb(2, 2, 2);
    font-family: 'hallies';
    font-size: 26px;
}
h1{
    color:white;
    text-align: center;
    font-family: 'typewriter';
}
li{
    color:white;
}
li > a {
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: blueviolet;
}
a {
    text-decoration: none;
}
h2{
    color:white;
    text-align: center;
    font-family: 'typewriter';
}
h3{
    color:white;
    text-align: center;
    font-family: 'typewriter';
}
p{
    color:white;
    text-align: justify;
}
@font-face {
    font-family: 'typewriter';
    src: url(../fontes/JMH\ Typewriter-Black.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hallies';
    src: url(../fontes/Hallies.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}